In [2]:
import pandas as pd
df = pd.read_excel('music.xlsx')

In [3]:
df

    age  gender Favorite music
0    20       1         hiphop
1    23       1         hiphop
2    25       1         hiphop
3    26       1           jazz
4    29       1           jazz
5    30       1           jazz
6    31       1        classic
7    33       1        classic
8    37       1        classic
9    20       0          dance
10   21       0          dance
11   25       0          dance
12   26       0       Acoustic
13   27       0       Acoustic
14   30       0       Acoustic
15   31       0        classic
16   34       0        classic
17   35       0        classic

In [4]:
x = df.drop(columns=['Favorite music'])

In [5]:
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [6]:
y = df['Favorite music']

In [7]:
y

0       hiphop
1       hiphop
2       hiphop
3         jazz
4         jazz
5         jazz
6      classic
7      classic
8      classic
9        dance
10       dance
11       dance
12    Acoustic
13    Acoustic
14    Acoustic
15     classic
16     classic
17     classic
Name: Favorite music, dtype: object

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
model = DecisionTreeClassifier()
model.fit(x, y)
predictions = model.predict([[21, 1], [22, 0], [28, 0]])
predictions

C:\Users\moradi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['hiphop', 'dance', 'Acoustic'], dtype=object)

In [17]:
df

    age  gender Favorite music
0    20       1         hiphop
1    23       1         hiphop
2    25       1         hiphop
3    26       1           jazz
4    29       1           jazz
5    30       1           jazz
6    31       1        classic
7    33       1        classic
8    37       1        classic
9    20       0          dance
10   21       0          dance
11   25       0          dance
12   26       0       Acoustic
13   27       0       Acoustic
14   30       0       Acoustic
15   31       0        classic
16   34       0        classic
17   35       0        classic

In [56]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#from sklearn.externals import joblib
import joblib



df = pd.read_excel('music.xlsx')
X = df.drop(columns=['Favorite music'])
y = df['Favorite music']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

0.75

In [55]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib



df = pd.read_excel('music.xlsx')
X = df.drop(columns=['Favorite music'])
y = df['Favorite music']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

joblib.dump(model, 'df.joblib')

['df.joblib']

In [64]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib


model = joblib.load('df.joblib')

predictions = model.predict([[19, 1], [18, 1], [14, 0]])

predictions

C:\Users\moradi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['hiphop', 'hiphop', 'dance'], dtype=object)

In [63]:
df

    age  gender Favorite music
0    20       1         hiphop
1    23       1         hiphop
2    25       1         hiphop
3    26       1           jazz
4    29       1           jazz
5    30       1           jazz
6    31       1        classic
7    33       1        classic
8    37       1        classic
9    20       0          dance
10   21       0          dance
11   25       0          dance
12   26       0       Acoustic
13   27       0       Acoustic
14   30       0       Acoustic
15   31       0        classic
16   34       0        classic
17   35       0        classic